@import '{}/node_modules/materialize-css/sass/materialize.scss';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#productBody {
  margin-top: 50px;
}

#imagePreview {
  max-width: 80%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.product_detail_image {
  max-width: 100%;
}

.card-fab {
    position: relative;
    z-index: 1;
}

.card-image {
  max-height: 100px;
  min-height: 100px;
}

.card-image img {
  padding: 10px;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
