<template name="cart_products">
  <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <div class="row center">
    <div class="container center col s11">
      <div class="col s4 ">
        <img class="cart_product_image" src="img/image.jpg">
      </div>
      <div class=" col s6 ">
          <div class="product_title_cart">
              <p class="left bold">Product_Title</p>
              <i class=" waves-effect waves-red material-icons right">clear</i>
          </div>
          <div class="right">
          <p name="detail" class="left-align">
              Product Detail goes here in block quote.
              Product Detail goes here in block quote.
              Product Detail goes here in block quote.
              Product Detail goes here in block quote.
              Product Detail goes here in block quote.
          </p>
          </div>
          <div class="product_price_cart">
              <p class="price left">$Price</p>
          </div>
      </div>
    </div>
  </div>
</template>

<template name="buy">
  <div class="row center">
      <p><button class="waves-effect waves-light btn" id="buy_btn">Buy</button></p>
 </div>
</template>
