<template name="product_detailview">
  <div class="row">
    <div class="container col s9 right" name="product_detailview_container">
      <div class="col s4">
        <img class="product_detail_image" src="img/image.jpg">
      </div>
      <div class=" col s4 push-s1">
          <div id="product_title_DV"> <!-- TEMP: DV here means detail view, it will help referencing in stylesheet -->
              <p>Product_Title</p>
          </div>
          <div id="product_price_DV">
              <p class="price">$Price</p>
          </div>
          <p class = "flow-text" name="detail">
              Product Detail goes here in block quote.
              Product Detail goes here in block quote.
              Product Detail goes here in block quote.
              Product Detail goes here in block quote.
              Product Detail goes here in block quote.
          </p>
          <div id="Add_to_Cart_DV">
              <p><button class="add_to_cart_btn">Add to Cart</button></p>
         </div>
      </div>
    </div>
  </div>
</template>
