<template name="dropdown">
  <div class="row">
    <div class="input-field col s12 m4 l3">
      <select id="branchSelector" class="browser-default">
        <option value="" disabled selected>Choose Branch</option>
        {{#each branchesFound}}
          {{> branchDropOption}}
        {{/each}}
      </select>
    </div>
    <div class="input-field col s12 m8 l9">
      <i class="material-icons prefix">search</i>
      <input type="text" id="productSearch" class="autocomplete">
      <label for="productSearch">Search</label>
    </div>
  </div>
</template>

<template name="branchDropOption">
  <option value="{{branchID}}">{{branchName}}</option>
</template>
