<template name='signup_form'>
  <div class="row login-margin">
    {{#if currentUser}}
    <h5>Hi {{currentUser.username}}, you're already logged in!</h5>
    <button id="logOutButton" class="row col s12 blue waves-effect waves-light btn">Log Out</button>
    {{else}}
    <div class="col s12 m10 offset-m2 row z-depth-3 hoverable">
      <form id='signup_form' class="padded-login">
        <h5 class="blue-text center">Sign Up</h5>
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="username">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="confPassword" type="password" class="validate">
            <label for="confPassword">Confirm Password</label>
          </div>
        </div>
        <button type="submit" form="signup_form" class="row col s12 blue waves-effect waves-light btn">Sign Up</button>
      </form>
    </div>
    {{/if}}
  </div>
</template>
