<template name='products'>
  <div class="row">
      {{> productItem}}
      {{> productItem}}
      {{> productItem}}
      {{> productItem}}
      {{> productItem}}
      {{> productItem}}
      {{> productItem}}
      {{> productItem}}
  </div>
</template>

<template name="productItem">
  <div class="col s12 m6 l4 xl3">
    <div class="card z-depth-2 hoverable">
      <div class="card-image">
        <img src="img\laptop-1.JPG">
        <a onclick="M.toast({html: 'Added to cart'})" class="btn-floating btn-large halfway-fab waves-effect waves-light blue"><i class="material-icons">add_shopping_cart</i></a>
      </div>
      <div class="card-content">
      <span class="card-title">Alienware M17 Gaming Laptop Price: AUD $2000</span>
        <p>The all new Alienware m17 gaming laptop with hyper-efficient voltage regulation, new ID and 17” screen.</p>
      </div>
    </div>
  </div>
</template>
