<template name="pagination">
  <ul class="pagination center">
  <li class="disabled"><a href="#!"><i class="blue material-icons">chevron_left</i></a></li>
  <li class="blue active"><a href="#!">1</a></li>
  <li class="waves-effect waves-teal"><a href="#!">2</a></li>
  <li class="waves-effect waves-teal"><a href="#!">3</a></li>
  <li class="waves-effect waves-teal"><a href="#!">4</a></li>
  <li class="waves-effect waves-teal"><a href="#!">5</a></li>
  <li class="waves-effect waves-teal"><a href="#!">6</a></li>
  <li class="waves-effect waves-teal"><a href="#!">7</a></li>
  <li class="waves-effect waves-teal"><a href="#!">8</a></li>
  <li class="waves-effect waves-teal"><a href="#!">9</a></li>
  <li class="waves-effect waves-teal"><a href="#!"><i class="blue material-icons">chevron_right</i></a></li>
</ul>
</template>
