<template name="navigation">
  <nav class="blue">
    <div class="nav-wrapper">
      <!-- Enable when we have a logo to display => <a href="#!" class="brand-logo">Logo</a> -->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{pathFor '/'}}">Home</a></li>
        <li><a href="{{pathFor 'login'}}">Login</a></li>
        <li><a href="{{pathFor 'signup'}}">Signup</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{pathFor '/'}}">Home</a></li>
    <li><a href="{{pathFor 'login'}}">Login</a></li>
    <li><a href="{{pathFor 'signup'}}">Signup</a></li>
  </ul>
</template>
