<template name="navigation">
  <nav class="white">
    <div class="nav-wrapper">
    <a href="#!" class="brand-logo center"><img src="/img/logo-simple.JPG" width="250" height="auto"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="blue-text material-icons fa fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="blue waves-effect waves-light btn">search page</a></li>       
        <li><a class="blue-text" href="{{pathFor '/'}}">Home</a></li>
        <li><a class="blue-text" href="{{pathFor 'login'}}">Login</a></li>
        <li><a class="blue-text" href="{{pathFor 'signup'}}">Signup</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{pathFor '/'}}">Home</a></li>
    <li><a href="{{pathFor 'login'}}">Login</a></li>
    <li><a href="{{pathFor 'signup'}}">Signup</a></li>
  </ul>
</template>
