<template name="product_detailview">
  {{>navigation}}
  <main>
      {{#each product}}
        {{>productBody}}
      {{/each}}
  </main>
  {{> footer}}
</template>
<template name="productBody">
  <div id="productBody" class="container">
    <div class="row">
      <div class="col s12 m6 left">
        <img class="materialboxed product_detail_image" src="{{imageURL}}"/>
      </div>
      <div class=" col s12 m6">
          <h4>{{name}}</h4>
          <h5>Price: ${{price}} AUD</h5>
          <p>Stock: {{stock}} units
            {{#if isInRole 'seller'}}
              <a class="modal-trigger blue-text right" href="#addStockModal">Add stock?</a>
            {{/if}}
          </p>
          <p>Branch: {{branchName}}</p>
          <p>Category: {{category}}</p>
          <form id="addToCart">
            <button type="submit" form="addToCart" id="addtoCartButtonD" class="blue waves-effect waves-light btn">Add to Cart</button>
            <input id="addQty" required type="number" value="1" class="validate" >
            <label for="addQty">Quantity</label>
          </form>
      </div>
      <div class="col s12">
        <h5>Description: </h5>
        <p class="flow-text">
            {{description}}
        </p>
      </div>
    </div>
    <div class="col s12">
      {{#if isInRole 'admin'}}
        <a class="modal-trigger red-text right" href="#productPropertyModal">Product Deletion</a>
      {{/if}}
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="productPropertyModal" class="modal">
    <div class="modal-content">
      <h4>Product Deletion</h4>
      <p>Please proceed carefully!</p>
      <div class="row">
        {{#if isInRole 'admin'}}
          <p class="red-text">Take caution, irreversible!</p>
          <button id="deleteButton" class="red waves-effect waves-light btn">DELETE Product</button>
        {{/if}}
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <div id="addStockModal" class="modal">
    <div class="modal-content">
      <h4>Product Properties</h4>
      <p>Add -1 to deduct stock.</p>
      <div class="row">
        {{#if isInRole 'seller'}}
          <form id="addStockForm" name="addStockForm">
            <div class="input-field col s12">
              <input id="addStock" required type="number" class="validate">
              <label for="addStock">Stock</label>
            </div>
            <button type="submit" form="addStockForm" class="row col s12 blue waves-effect waves-light btn">Add Stock</button>
          </form>
        {{/if}}
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</template>
